body {
  background: black;
}
* {
  min-height: 10px;
}
.postcard {
  margin: auto;
  background: white;
  width: 400px;
  height: 300px;
}
.postcard-header {
  display: flex;
}
.postcard-header img {
  width: 50px;
  height: 50px;
}
.postcard-header h1 {
  width: 100%;
  margin: 0%;
}
.postcard-body {
  display: flex;
}
.body-left p:first-child {
  padding: 0%;
}
.body-right {
  padding: 1%;
}
.input {
  border: none;
  border-bottom: gray;
}
.postcard-footer {
  text-align: center;
}
.button {
  background: darkgray;
  padding: 0%;
}
